@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.frame-div5 {
  position: relative;
  background-color: var(--color-white);
  width: 447px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}
.frame-div5.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
